* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Bai Jamjuree", sans-serif;

}

.page_wrapper {
  width: 100%;
  position: relative;

}

header {
  /* display: grid;
    justify-items: center;
     height: 70vh;*/
  width: 100%;
  background-image: url(images/bg-header-desktop.png);
  background-size: cover;
}

header figure {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 35vh;

}

main img {
  width: 50%;
  margin: 5% auto;
  display: block;
}

footer img {
  width: 80%;
  margin: auto;
  display: block;
}

footer .logoImg {
  transform: scale(0.2);
}

.logoImg {
  align-self: center;
  transform: scale(1);
}

header .logoImg {
  /*margin-bottom: 10%;*/
}

h1,
h2,
h3 {
  text-align: center;
  /* opacity: 0.4;*/
  font-weight: 600;
  margin-bottom: 10%;
  margin: 0 5% 2%;
}

.previews p {
  width: 90%;
}

p {
  text-align: center;
  opacity: 0.3;
  font-weight: 600;
  font-size: large;
  margin: 0 25%;
}

h1 {
  opacity: 0.9;
}

main h2,
main h3 {
  margin-top: 5%;

}

.btnSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input[type="button"] {
  width: 35%;
  height: 6vh;
  /*display: block;*/
  margin: 5% 1%;
  border-radius: 30px;
  color: white;
}

input.iOS {
  justify-self: end;
  background-color: hsl(171, 66%, 44%);
}

input.Mac {
  justify-self: start;
  background-color: hsl(233, 100%, 69%)
}

.search p {
  margin: 0 5%;
  text-align: start;
}

svg {
  margin: auto;
  display: block;
  /* text-align: center; */
}

section img {
  width: 50%;
  margin-bottom: 10%;
}

footer {
  background-color: #f1f0ec;  
  /*height: 20vh;*/
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
 /* margin-bottom: 5%;*/
}

.aboutUs {
  margin-top: 15%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.socialIcons {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10%;
  margin-top: 40%;
}

a.moreInfo {
  text-decoration: none;
  color: black;
  font-weight: 600;
  opacity: 0.5;
  text-align: start;
  /* margin-bottom: 10%;*/
}

main {
  margin-bottom: 10%;
}

.fa {
  transform: scale(1.6);
  color: hsl(210, 10%, 33%);
  text-decoration: none;
}

.fa-instagram {
  justify-self: start;
}

.fa-facebook-square {
  justify-self: end;
}

.hero {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.previews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5% 5%;
}

section.graphics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 5%;
}

a:hover {
  cursor: pointer;
  opacity: 0.6;
  color: hsl(171, 66%, 44%);
}

input[type="button"]:hover {
  cursor: pointer;
  opacity: 0.6;
}


/*
a#privacy {
  grid-area: 1/2;
}

a#install {
  grid-area: 1/3;
}*/
@media only screen and (max-width: 655px) {
  header {
    background-image: url(images/bg-header-mobile.png);
  }

  footer {
    grid-template-columns: 1fr;
  }

  main img {
    width: 80%;
  }

  figure {
    margin-bottom: 10%;
  }

  h2.clipboard {
    margin: 5% 10%;
  }

.search p {
  margin: 0 10%;
  text-align: center;
}
.search {
  margin-bottom: 30%;
}

  .aboutUs {
    margin-top: -20%;
    text-align: center;
    grid-template-columns: 1fr;
    grid-row-gap: 20%;
  }

  .logoImg {
    align-self: end;
    transform: scale(0.7);
  }

  header .logoImg {
    margin-top: 10%;
  }

  p {
    font-weight: 600;
    margin: 0 12% 10%;
    font-size: small;
  }

  .btnSection {
    grid-template-columns: 1fr;
  }

  .graphics img {
    width: 40%;
  }

  input.Mac,
  input.iOS {
    width: 70%;
    justify-self: center;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .previews {
    margin-bottom: 20%;
    grid-template-columns: 1fr;
  }

  section.graphics {
    grid-template-columns: 1fr;
  }

  main {
    margin-top: 30%;
    margin-bottom: 30%;
  }

  h1 {
    /* opacity: 0.9; */
    font-size: x-large;
    margin: 3% 15%;
  }

  input[type="button"] {
    height: 9vh;
  }

  a.contact {
    grid-area: 2;
  }

  a.install {
    grid-area: 5;
  }

  a.moreInfo {
    text-align: center;
  }

}