* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

#page_wrapper {
  width: 100%;
  position: relative; 
}

header {
  /* display: grid;
    justify-items: center;
     height: 70vh;*/
  width: 100%;
  background-image: url(images/bg-header-desktop.png);
  background-size: cover;
}

header figure {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 50vh;

}

main img,
footer img {
  width: 80%;
  margin: auto;
  display: block;
}

footer .logoImg {
  transform: scale(0.2);
}

.logoImg {
  align-self: end;
  transform: scale(1.2);  
}

header .logoImg{
  margin-bottom: 10%;
}

h1,
h2,
p {
  text-align: center;
  opacity: 0.4;
  font-weight: 600;
  margin-bottom: 10%;
  margin: 0 5% 10%;
}

h1 {
  opacity: 0.9;
}

main h2 {
  margin-top: 10%;

}

input[type="button"] {
  width: 50vh;
  height: 8vh;
  display: block;
  margin: 5% auto;
  border-radius: 30px;
  color: white;
}

input.iOS {
  background-color: hsl(171, 66%, 44%);
}

input.Mac {
  background-color: hsl(233, 100%, 69%)
}

svg {
  margin: auto;
  display: block;
  /* text-align: center; */
}

section img {
  width: 30%;
  margin-bottom: 10%;
}

footer {
  background-color: hsl(201, 18%, 93%);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.aboutUs {
  margin-top: -20%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
 grid-row-gap: 20%;
}

.socialIcons {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10%;
  margin-top: 40%;
}
a.moreInfo {
  text-decoration: none;
  color: black;
  font-weight: 600;
  opacity: 0.5;
 /* margin-bottom: 10%;*/
}

main {
  margin-bottom: 30%;
}

.fa {
  color: hsl(210, 10%, 33%);
  text-decoration: none;
}

.fa-instagram {
  justify-self: start;
}

.fa-facebook-square {
  justify-self: end;
}
@media only screen and (max-width: 655px) {
header {
   background-image: url(images/bg-header-mobile.png);
 }

 .logoImg {  
   transform: scale(0.7);
 }


}